/*.App {
  background: #BEBDB8;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}*/

.board {
  width: 25%;
  height: 400px;
  margin: 0 auto;
}

.board:after {
  content: '';
  display: block;
  clear: both;
}